page-login {
    .signup-div{
        margin-top: 5%;
    }
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .error-text{
        color: red;
    }
    .scroll-content {
        margin-bottom: -20px !important;
    }
    ion-content > div {
        padding: 0 !important;
        margin: 0 !important;
    }
}
