page-citizen-reports {
    .virtual-div {
        display: inline-block;
        overflow: hidden;
    }
    .div-date{
        display: block;
    }
    .footer-button{
        margin: 0px;
    }
    .col{
        padding: 0px;
    }
}
